/** Defaults for a viewmode column block **/
.vc {
  height: 300px;
  overflow: hidden;
  float: left;
  border-bottom: 1px solid #000;
  padding-bottom: 25px;
  padding-top: 25px;

  /** add horizontal border that overlas with the bottom border of the previous row **/
  border-top: 1px solid #000;
  margin-top: -1px;
}

/** Defaults for the inner viewmode column block **/
.vc-inner {
  border-right: 1px solid #000;
  overflow: hidden;
  height: 300px;
  padding: 0 25px 0 25px;
}

/**
 * 1 column
 * @type {[type]}
 */
@media (max-width: 799px) {
  .view-viewmode-columns-example {
    width: 400px;
  }

  .vc-1-columns,
  .vc-2-columns,
  .vc-3-columns {
    width: 400px;
  }

  .vc-bp1-last .vc-inner {
    border-right: 0;
  }

  .vc-bp1-row-0 {
    border-top: 0;
  }
}

/**
 * 2 columns
 * @type {[type]}
 */
@media (min-width: 800px) and (max-width: 1199px) {
  .view-viewmode-columns-example {
    width: 800px;
  }

  .vc-1-columns {
    width: 400px;
  }

  .vc-2-columns,
  .vc-3-columns {
    width: 800px;
  }

  .vc-bp2-last .vc-inner {
    border-right: 0;
  }

  .vc-bp2-row-0 {
    border-top: 0;
  }
}

/**
 * 3 columns
 * @type {[type]}
 */
@media (min-width: 1200px) {
  .view-viewmode-columns-example {
    width: 1200px;
  }

  .vc-1-columns {
    width: 400px;
  }

  .vc-2-columns {
    width: 800px;
  }

  .vc-3-columns {
    width: 1200px;
  }

  .vc-bp3-last .vc-inner {
    border-right: 0;
  }

  .vc-bp3-row-0 {
    border-top: 0;
  }
}
