.viewmode_columns_nodequeue_preview_container {
  background-color: #f00;
  width: 180px;
  float: right;
  border: 4px solid #000000;
  box-shadow: 0 0 10px #000;
  border-radius: 5px;
  margin-top: 5px;
}

.viewmode_columns_nodequeue_preview_block {
  display: block;
  background-color: #efefef;
  float: left;
  height: 60px;
}

.viewmode_columns_nodequeue_preview_block.viewmode-columns-active,
tr.odd.viewmode-columns-active,
tr.even.viewmode-columns-active {
  background-color: #ddd;
}

.viewmode_columns_nodequeue_preview_block .inner {
  border: 1px solid #ccc;
  height: 58px;
  line-height: 58px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
